.navContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	height: 45px;
	width: 100%;
	margin-bottom: 10px;
}
.navContainer .headerContent {
	display: flex;
	align-items: center;
	height: 100%;
}
.navContainer h2 {
	color: #457b9d;
	margin: 0;
	padding: 4px;
	line-height: 1.25rem;
}
